html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
html{
    font-size: 15px;
}
body{
background-color: hsl(0, 0%, 95%);
margin: 10rem auto;

}
img{
    margin-bottom: 2rem;
}
p{
    margin-bottom: 2rem;
}



.main_container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Lexend Deca', sans-serif;
    margin: 4rem auto;
    width: 80%;
    color: hsla(0, 0%, 100%, 0.75);
    
}
.card{
    width: 100%;
    padding: 50px 50px;
}
.card:nth-child(1)
{
    background-color: hsl(31, 77%, 52%);
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}
.card:nth-child(2)
{
    background-color: hsl(184, 100%, 22%);
}
.card:nth-child(3)
{
    background-color:hsl(179, 100%, 13%);
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
}
.card_head{
    font-family: 'Big Shoulders Display', cursive;
    font-size: 2rem;
    margin-bottom: 2rem;
}
.btn{
    background-color: hsl(0, 0%, 95%);
    width: 50%;
    border: 1px solid;
    border-radius: 2rem;
    text-align: center;
    padding: 15px 20px;
}
.firstbtn{
    color: hsl(31, 77%, 52%);
}
.secondbtn{
    color: hsl(184, 100%, 22%);
}
.thirdbtn{
    color: hsl(179, 100%, 13%);
}
.btn:hover{
    background-color: inherit;
    color: inherit;
    cursor: pointer;
}
@media (min-width:600px){
.main_container{
    flex-direction: row;
    margin: 1em auto 1em;
}
.card:nth-child(1){
    border-bottom-left-radius: 1rem;
    border-top-right-radius: 0;
}
.card:nth-child(3){
    border-bottom-left-radius: 0;
    border-top-right-radius: 1rem;
}
}
